---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/astro/Hero.astro";
import Skills from "../components/astro/Skills.astro";
import Projects from "../components/astro/Projects.astro";
---

<Layout title="Portfolio">
  <main>
    <Hero />
    <Skills />
    <Projects />
  </main>
</Layout>
