---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/astro/Hero.astro";
import Skills from "../components/astro/Skills.astro";
import Projects from "../components/astro/Projects.astro";
import Education from "../components/astro/Education.astro";
import Github from "../components/astro/Github.astro";
import Contact from "../components/astro/Contact.astro";
---

<Layout title="Portfolio">
  <main>
    <Hero />
    <Skills />
    <Projects />
    <Education />
    <Github />
    <Contact />
  </main>
</Layout>
